*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Hanken Grotesk, Verdana;
    min-height: 100dvh;
    background-color:hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    font-size: 1.125rem;
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media screen and (min-width: 1024px) {
    .card {
        flex-direction: row;
        border-radius: 1rem;
    }
}